/* Estilos header */
.header {
  margin-top: 20px;
  font-size: 16px;
  height: 80px;
  width: 100%;
  background-color: #c3c3c3;
}

.header > * {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  width: 15%;
  height: 100%
}

.navbar {
  width: 70%;
  text-align: center;
  color: #025157;
  font-weight: 500;
}

.actions {
  width: 14%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

/* Estilos imagenes */
img {
  height: 100%;
}

/* Estilos botones */
button {
  background-color: unset;
  border: unset;
  min-height: 40px;
  min-width: 80px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 213, 0, 1);
}

.primary-button {
  color: rgb(122, 178, 89);
}

.secundary-button {
  background-color: rgb(122, 178, 89);
}

/* Estilo lista (menu navbar) */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
}

li a {
  display: inline;
  text-align: center;
  text-decoration: none;
}

.features {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  grid-gap: 20px;
  height: 660px;
  margin: 10px 10px;
}

.article-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding: 15px 0px 15px 20px;
}

h1 {
  font-size: 30px;
}

p {
  color: gray;
}

a {
  color: green;
}

.image {
  width: 300px;
}

html {
  background-color: aqua;
  font-family: 'Mooli', sans-serif;
  font-family: 'Oswald', sans-serif;
}

.animal-gallery {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin-top: 100px;
  grid-gap: 10px;
}

.animal {
  text-align: center;
}

.animal > img {
  width: 150px;
  height: 150px;
}

.animal-gallery > article:nth-child(1) {
  background-color: #970000;
}

.animal-gallery > article:nth-child(2) {
  background-color: #219700;
}

.animal-gallery > article:nth-child(3) {
  background-color: #003597;
}

.animal-gallery > article:nth-child(4) {
  background-color: #977b00;
}

.animal-gallery > article:nth-child(5) {
  background-color: #970080;
}

.animal-gallery > article:nth-child(6) {
  background-color: #280097;
}

.animal-gallery > article:nth-child(7) {
  background-color: #973200;
}

.animal-gallery > article:nth-child(8) {
  background-color: #009785;
}

.animal-gallery > article:nth-child(9) {
  background-color: #007497;
}